
<div>
  <h1>Client</h1>
  <h4>Usuário</h4>
  <p> DADOS: </p>
  <code>
    <%=current_user.inspect%>
  </code><br><br>
  <p>
    CHAVE: <pre><%=secret = Digest::SHA256.hexdigest 'provider_app'%></pre><br>
  </p>

  <ul>
    <li>Email: <%=current_user.email%></li>
    <li>Data de criação: <%=current_user.created_at%></li>
    <li>UID: <%=current_user.uid%></li>
  </ul>
  <div style="width: 600px;">
    <h3>API</h3>
    <code>
      <%=@teste%><br>
    </code>

    <p>
      <%= @teste['exp'] ? 'Expira em: ' + (Time.at(@teste['exp'].to_i) - Time.now).round.to_s + ' segundos' : 'Expirado' %> 
    </p>
  </div>
</div>
<%= link_to "Sair", destroy_user_session_path %>